name: Build
on: workflow_dispatch # manually triggering workflow
jobs:
    my_first_job:
        runs-on: ubuntu-latest
        steps: 
            - name: fetching code from repo...
              uses: actions/checkout@v4
            - name: installing java 17
              uses: actions/setup-java@v4
              with:
                distribution: 'zulu' # See 'Supported distributions' for available options
                java-version: '17'
            - name: Building the application
              run: mvn clean install -DskipTests 
            - name: uploading artifacts
              uses: actions/upload-artifact@v4
              with: 
                name: my-new-app
                path: target/*.war


    
    my_second_job:
        needs: my_first_job
        runs-on: ubuntu-latest
        steps: 
            - run: echo "second job"
    
    